In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df_vist = pd.read_csv('Hospital Outpatient Data_NH_cleaned.zip')

In [7]:
df_vist.head(1
             )

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration Minutes,Nursing Minuts,Laboratory Minutes,Consultation Minutes,Pharmacy Minutes
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112

In [9]:
df_vist['Total Time  (Minutes)'] = df_vist['Registration Minutes'] + df_vist['Nursing Minuts']+ df_vist['Laboratory Minutes']+ df_vist['Consultation Minutes'] + df_vist['Pharmacy Minutes']

In [12]:
df_vist['Total Time (Hours)'] = df_vist['Total Time  (Minutes)'] / 60
df_vist.head(5)

,Visit_Date,Patient_ID,Age,Gender,Diagnosis,Has_Insurance,Postcode,Total_Cost,Registration Minutes,Nursing Minuts,Laboratory Minutes,Consultation Minutes,Pharmacy Minutes,Total Time (Minutes),Total Time (Hours)
0,2020-05-06,688923,68,Female,Diabetes,True,20006,2274.0,33,105,101,28,112,379,6.316667
1,2018-08-04,886361,62,Female,Urinary Tract Infection,False,20005,3430.0,46,75,84,102,36,343,5.716667
2,2021-04-10,464823,70,Female,Upper Respiratory Tract Infection,True,10003,1836.0,107,81,5,77,36,306,5.100000
3,2021-10-01,655214,8,Female,Upper Respiratory Tract Infection,False,10006,3250.0,66,31,101,35,92,325,5.416667
4,2018-04-30,454666,24,Male,Malaria,True,10006,2262.0,68,55,60,90,104,377,6.283333

In [14]:
avarage_total_time_in_hours = df_vist['Total Time (Hours)'].mean()
avarage_total_time_in_hours

5.209838183333332

In [19]:
max_time_department = df_vist[['Consultation Minutes','Registration Minutes','Nursing Minuts','Laboratory Minutes','Pharmacy Minutes']].sum().idxmax()

In [20]:
max_time_department

'Registration Minutes'

In [23]:
df_vist['Registration Minutes'].max()

120

In [22]:
df_vist['Registration Minutes'].min()

5

In [24]:
def department_wait_time_statistics(df, wait_time_column):
    wait_time_minutes = df[wait_time_column]
    wait_time_hours = wait_time_minutes / 60

    min_time = wait_time_hours.min()
    max_time = wait_time_hours.max()
    mean_time = wait_time_hours.mean()
    median_time = wait_time_hours.median()
    std_dev = wait_time_hours.std()

    sentence = f"For the department'{wait_time_column}', wait times range from {min_time:.2f} hours to {max_time:.2f} hours "\
    f"The average wait time is {mean_time:.2f} hours, with a median of {median_time:.2f} hours" \
    f"The standard deviation is {std_dev:.2f} hours"

    return sentence

In [29]:
department_wait_time_statistics(df_vist,'Nursing Minuts')

"For the department'Nursing Minuts', wait times range from 0.08 hours to 2.00 hours The average wait time is 1.04 hours, with a median of 1.05 hoursThe standard deviation is 0.56 hours"

In [27]:
department_wait_time_statistics(df_vist,'Nursing Minuts')

"For the department'Nursing Minuts', wait times range from 0.08 hours to 2.00 hours The average wait time is 1.04 hours, with a median of 1.05 hoursThe standard deviation is 0.56 hours"

In [30]:
def department_wait_time_statistics(df, department_name):
    if department_name not in df.columns:
        return f"Department '{department_name}' not found in the DataFrame"
    wait_time_minutes = df[department_name]
    wait_time_hours = wait_time_minutes / 60

    min_time = wait_time_hours.min()
    max_time = wait_time_hours.max()
    mean_time = wait_time_hours.mean()
    median_time = wait_time_hours.median()
    std_dev = wait_time_hours.std()

    sentence = f"For the department'{department_name}', wait times range from {min_time:.2f} hours to {max_time:.2f} hours "\
    f"The average wait time is {mean_time:.2f} hours, with a median of {median_time:.2f} hours" \
    f"The standard deviation is {std_dev:.2f} hours"

    return sentence

In [31]:
department_wait_time_statistics(df_visit,'Nursing(seconds)')

NameError: name 'df_visit' is not defined